// @import "./node_modules/bootstrap/scss/bootstrap.scss";
@import "./mixin.scss";

#dot-icon {
  @include mb-8px;
}

#list-menu {
  @include mb-2em;
}

nav,
#icon-square,
.friend-status,
#playlist>p  {
  @include text-lightgray;
}

.square {
  @include square-box;
}

.button-menu {
  @include button-menu;
}

.square > svg {
  @include icone-square;
}

#icon-square,
#list-menu {
  @include line-height;
}

a, #playlist>p {
  @include style-link;
}

.button-menu:hover,
h5:hover,
a:hover,
#icone-side-r:hover,
#playlist>p:hover {
  @include color-white;
}

hr,
h6,
#icone-side-r,
#playlist>p {
  @include color-lightgray;
}

svg {
  @include icone-no-square;
}


h6 {
    @include h6-size;
}




.description-content,
.description-content > svg {
    font-size: 10px;
    width: 10px;
}
#playlist {
    @include scroll-bar
}
#right-column {
    @include padding-margin-0 
}
.friend-status {
    @include friend-banner;
    margin-bottom: 2em
}
#icone-side-r {
    @include d-flex
}

img {
    @include round-img;
}
#attivita-amici {
    @include attivita-amici;
    margin-bottom: 1.5em;
}
#icone-side-r svg {
  @include margin-i-3px;
}