#dot-icon {
  margin-bottom: 8px;
}

#list-menu {
  margin-bottom: 2em;
}

nav,
#icon-square,
.friend-status,
#playlist > p {
  color: lightgray;
  font-size: 12px;
}

.square {
  background-color: lightgrey;
  color: black;
  border-radius: 2px;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-menu {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  display: flex;
  align-items: center;
  gap: 1em;
}

.square > svg {
  width: 12px;
  overflow: hidden;
}

#icon-square,
#list-menu {
  line-height: 30px;
}

a, #playlist > p {
  text-decoration: none;
  cursor: pointer;
  color: lightgray;
}

.button-menu:hover,
h5:hover,
a:hover,
#icone-side-r:hover,
#playlist > p:hover {
  color: white;
}

hr,
h6,
#icone-side-r,
#playlist > p {
  color: lightgray;
}

svg {
  width: 16px;
}

h6 {
  font-size: 14px;
}

.description-content,
.description-content > svg {
  font-size: 10px;
  width: 10px;
}

#playlist {
  height: 100vh;
  overflow-y: scroll;
}

#right-column {
  padding: 0px;
  margin: 0px;
}

.friend-status {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-inline: 5px;
  margin-bottom: 2em;
}

#icone-side-r {
  display: flex;
}

img {
  background-color: aqua;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}

#attivita-amici {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 1.5em;
  padding-inline: 5px;
}

#icone-side-r svg {
  margin-inline: 3px;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
}

.closebtn {
  cursor: pointer;
}

.openbtn, .dropbtn {
  border: none;
  background: none;
  cursor: pointer;
  color: lightgray;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(54, 54, 54);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.show {
  display: flex;
  flex-direction: column;
}

svg {
  vertical-align: unset;
}

body {
  overflow-y: hidden;
}

#album img {
  background-color: aqua;
  border-radius: 0;
  margin-block: 12px;
  width: 50px;
  height: 50px;
}

#album {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 12px;
}

.progress {
  height: 7px;
  width: 350px;
}

#commands {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#buttons-player {
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  gap: 10px;
}

#play-button {
  width: 24px;
}

#volume {
  width: 50px;
  height: 7px;
  background-color: white;
}

#controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

#player {
  background-color: #191919;
  color: lightgrey;
  border-top: 1px solid gray;
}

#progress-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 12px;
}

#main-content {
  background-color: #191919;
}

#side-left, #album, #controls {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*# sourceMappingURL=customize.css.map */
